<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;700&family=Sansita:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    </head>
    <body class="bg-neutral-50 font-sans leading-normal text-neutral-800">
        {{ partial:navigation :dark="sections:0:dark" }}
        {{ template_content }}
        <script src="{{ mix src='/js/site.js' }}"></script>
    </body>
</html>
