<div class="overflow-hidden {{ gray ? 'bg-gray-50' : 'bg-white' }}">
  <div class="relative max-w-max lg:max-w-screen-xl mx-auto">
    <div class="px-4 sm:px-6 lg:px-8 py-16 xl:py-28">
      <div class="relative mb-8">
        {{ partial:title }}
      </div>
      <div class="mt-12 lg:mt-16">
        <div class="lg:grid lg:grid-cols-2 lg:gap-6">
          <div class="prose prose-lg text-gray-600 lg:max-w-none">
            {{ left_content }}
          </div>
          <div class="mt-6 prose prose-lg text-gray-600 lg:mt-0">
            {{ right_content }}
          </div>
        </div>
        {{ button }}
        <div class="mt-12 lg:mt-16">
          {{ partial:button color="primary" size="large" }}
        </div>
        {{ /button }}
      </div>
    </div>
  </div>
</div>
