<div class="space-y-4">
  <div class="space-y-4">
    {{ partial:elements/typography style="h5" as="p" :text="size" }}
    <div class="flex flex-wrap mb-4 space-x-4">
      {{ if size == "large" }}
        {{ partial:elements/icon-lg icon="/assets/icons/alerts/bell" color="primary" }}
        {{ partial:elements/icon-lg icon="/assets/icons/alerts/bell" color="secondary" }}
        {{ partial:elements/icon-lg icon="/assets/icons/alerts/bell" color="error" }}
        {{ partial:elements/icon-lg icon="/assets/icons/alerts/bell" color="success" }}
      {{ else }}
        {{ partial:elements/icon icon="/assets/icons/alerts/bell" color="primary" }}
        {{ partial:elements/icon icon="/assets/icons/alerts/bell" color="secondary" }}
        {{ partial:elements/icon icon="/assets/icons/alerts/bell" color="error" }}
        {{ partial:elements/icon icon="/assets/icons/alerts/bell" color="success" }}
      {{ /if }}
    </div>
  </div>
</div>