{{ if icon }}
<a href="{{ icon }}" download class="block aspect-w-1 aspect-h-1 group border bg-neutral-50 border-neutral-100 hover:bg-white hover:shadow-lg hover:-translate-y-2 rounded-md transform transition">
  <div class="absolute inset-0 w-full h-full flex flex-shrink-0 flex-col items-center justify-center text-center">
    <div class="text-neutral-700 group-hover:text-secondary-500">
      {{ svg src="{icon}" class="flex-shrink-0 h-6 w-6 lg:h-8 lg:w-8 fill-current" }}
    </div>

    <div class="px-2 mt-2">
      <p class="text-sm font-medium text-neutral-500 group-hover:text-neutral-600">{{ title }}</p>
    </div>
  </div>
</a>
{{ else }}
<div class="block aspect-w-1 aspect-h-1 group bg-neutral-100 cursor-not-allowed rounded-md transform transition">
  <div class="absolute inset-0 w-full h-full flex flex-shrink-0 flex-col items-center justify-center text-center">
    <div class="text-neutral-400">
      {{ svg src="/assets/icons/alerts/question" class="flex-shrink-0 h-8 w-8 fill-current" }}
    </div>

    <div class="px-2 mt-2">
      <p class="text-sm font-medium text-neutral-400">{{ title }}</p>
    </div>
  </div>
</div>
{{ /if }}