<div class="space-y-8">
  <div class="space-y-4">
    {{ partial:elements/typography style="h5" as="p" text="Large" }}
    <div class="flex flex-wrap mb-4 space-x-4">
      {{ partial:elements/link link="#" text="Button" size="large" color="secondary" }}
      {{ partial:elements/link link="#" text="Button" size="large" color="secondary" icon="left" }}
      {{ partial:elements/link link="#" text="Button" size="large" color="secondary" icon="right" }}
    </div>
  </div>

  <div class="space-y-4">
    {{ partial:elements/typography style="h5" as="p" text="Small" }}
    <div class="flex flex-wrap mb-4 space-x-4">
      {{ partial:elements/link link="#" text="Button" size="small" color="secondary" }}
      {{ partial:elements/link link="#" text="Button" size="small" color="secondary" icon="left" }}
      {{ partial:elements/link link="#" text="Button" size="small" color="secondary" icon="right" }}
    </div>
  </div>
</div>