<div class="space-y-4">
  <div>
    {{ partial:elements/typography style="h5" as="p" text="display" }}
    {{ partial:elements/typography style="display" as="h1" headline="true" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h1" }}
    {{ partial:elements/typography style="h1" headline="true"}}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h2" }}
    {{ partial:elements/typography style="h2" headline="true" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h3" }}
    {{ partial:elements/typography style="h3" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h4" }}
    {{ partial:elements/typography style="h4" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h5" }}
    {{ partial:elements/typography style="h5" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="h6" }}
    {{ partial:elements/typography style="h6" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="p" }}
    {{ partial:elements/typography style="p" }}
  </div>
  <div>
    {{ partial:elements/typography style="h5" as="p" text="small" }}
    {{ partial:elements/typography style="small" as="p" }}
   </div>
</div>